.mainmenu-page{
    margin: auto;
    /* background-color: yellow; */
    margin-top: 40px;
}

.mainmenu-welcome{
    margin: auto;
    /* width: 1172px;
    height: 440px; */
    /* background-color: green; */
    display: flex;
    margin: auto;
    margin-bottom: 50px;
}

.welcome-div-img{
    /* background-color: yellow; */
    /* width: 360px;
    height: 360px;
    margin: 40px; */
}

.welcome-img{
    object-fit: contain;
    width: 360px;
    /* background-color: red; */
    margin: auto;
    margin-left: 80px;
}

.welcome-p{
    /* background-color: blue; */
    /* height: 130px; */
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
    line-height: 40px;
    padding-top: 150px;
    margin: auto;
    margin-right: 50px;
    /* color: white; */
    /* margin-top: 120px; */
}

.mainmenu-why-lingush{
    /* background-color: blue; */
    height: 500px;
    margin-top: 40px;
}

.mainmenu-carousel{
    /* background-color: red; */
    margin: auto;
    width: 600px;
    height: 500px;
}

.mainmenu-carousel img{
    width: 300px;
    margin-bottom: 150px;
    margin-left: 150px;
}

.mainmenu-carousel h3{
    font-size: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    color: #E43E8B;
}

.mainmenu-lingush-app-col1{
    width: 350px;
    height: 563px;
}

.mainmenu-lingush-app-col1 img{
    
    object-fit: cover;
    margin-left: 150px;
    margin-top:60px;
}

.mainmenu-lingush-app-col2 h3{
    font-size: 30px;
    font-family: 'Merriweather Sans', sans-serif;
    color: #E43E8B;
    margin-left: 40px;
    margin-top: 50px;
}

.mainmenu-lingush-app-col2 p{
    font-size: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    margin-left: 15px;
}

.mainmenu-lingush-app-col2-div1{
    display: flex;
}

.mainmenu-buy{
    margin: auto;
}

.mainmenu-buy-row1{
    display: flex;
    margin: auto;
    padding-left: 20px;
}

.mainmenu-buy-row1 h3{
    font-size: 23px;
    font-family: 'Merriweather Sans', sans-serif;
    color: #E43E8B;
    text-align: center;
}

.mainmenu-buy-row1 p{
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
}

.mainmenu-buy-row1 img{
    width: 170px;
    margin: auto;
    margin-top: 30px;
    margin-left: 170px;
}

.mainmenu-buy-row2{
    display: flex;
}

.mainmenu-buy-row2 h3{
    font-size: 23px;
    font-family: 'Merriweather Sans', sans-serif;
    color: #E43E8B;
    text-align: center;
}

.mainmenu-buy-row2 p{
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
}

.mainmenu-buy-row2 img{
    width: 170px;
    margin: auto;
    margin-top: 5px;
    margin-left: 170px;
}

.link-button {
    appearance: button;
    background-color: #C32571;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #E43E8B;
    cursor: pointer;
    display: inline-block;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 150px;
    margin-left: 20px;
  }

  .mainmenu-lingush-app-col2-div2{
    margin-top: 100px;
  }
  
  .link-button:after {
    background-clip: padding-box;
    background-color: rgb(232, 232, 232);
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  
  .link-button:main,
  .link-button:focus {
    user-select: auto;
  }
  
  .link-button:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
  }
  
  .link-button:disabled {
    cursor: auto;
  }