.mainmenu-page{
    margin: auto;
    /* background-color: yellow; */
}

.mainmenu-welcome{
    margin: auto;
    width: 1172px;
    height: 440px;
    /* background-color: blue; */
    display: flex;
    margin: auto;
}

.welcome-div-img{
    /* background-color: red; */
    width: 360px;
    height: 360px;
    margin: 40px;
}

.welcome-img{
    object-fit: contain;
    width: 360px;
    height: 360px;
}

.welcome-p{
    /* background-color: red; */
    height: 130px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 32px;
    line-height: 40px;
    /* color: white; */
    margin-top: 120px;
}
