*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Titan One', cursive;
}

:root{
  --mainColor: #E43E8B;
  --mainColorLight: #e4609e;
  --secondaryColor: #FFFFFF;
  --textColor: #FFFFFF;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);
}

.lingush-div-logo-name{
  display: flex;
  width: 750px;
}

.lingush-logo{
  width: 70px;
  object-fit: contain;
}

.lingush-name{
  margin-top: 10px;
  font-size: 40px;
  margin-left: 20px;
}

.label-language{
  margin-right: 5px;
}

.login-button {
  appearance: button;
  background-color: #C32571;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #E43E8B;
  cursor: pointer;
  display: inline-block;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 80px;
  margin-left: 20px;
}

.login-button:after {
  background-clip: padding-box;
  background-color: white;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.login-button:main,
.login-button:focus {
  user-select: auto;
}

.login-button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.login-button:disabled {
  cursor: auto;
}

header .nav-btn{
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size:1.8rem ;
}

@media only screen and (max-width: 1024px){
  header .nav-btn{
    visibility: visible;
    opacity: 1;
  }

  header nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
    transform: translateY(-100vh);
  }

  header .responsive_nav{
    transform: none
  }

  nav .nav-close-btn{
    position: absolute;
    top: 2rem;
    right: 2rem;

  }

  nav a{
    font-size: 1.5rem;
  }

}